.icon--dribbble { background-image: url('png/dribbble.png'); background-repeat: no-repeat; }

.icon--git { background-image: url('png/git.png'); background-repeat: no-repeat; }

.icon--mail { background-image: url('png/mail.png'); background-repeat: no-repeat; }

.icon--mixd-logo { background-image: url('png/mixd-logo.png'); background-repeat: no-repeat; }

.icon--twitter { background-image: url('png/twitter.png'); background-repeat: no-repeat; }

