/**
 * Title:
 *    Variables
 * Description:
 *    Project variables go here
 * Sections:
 *    $. Breakpoints
 *    $. Colours
 *    $. Typography
 *    $. Layout
 *    $. Z axis
 */



/* $. Breakpoints
\*----------------------------------------------------------------*/

$bp1: 30em;
$bp2: 48em;
$bp3: 59em;
$bp4: 78em;
$bp5: 87em;



/* $. Colours
\*----------------------------------------------------------------*/

$color-text: #636363;;
$color-white: #ffffff;
$color-brand: #b72731;



/* $. Typography
\*----------------------------------------------------------------*/

  @font-face {
      font-family: 'millerregular';
      src: url('../fonts/millertextroman-webfont.eot');
      src: url('fonts/millertextroman-webfont.eot?#iefix') format('embedded-opentype'),
           url('../fonts/millertextroman-webfont.woff2') format('woff2'),
           url('../fonts/millertextroman-webfont.woff') format('woff'),
           url('../fonts/millertextroman-webfont.ttf') format('truetype'),
           url('../fonts/millertextroman-webfont.svg#millerregular') format('svg');
      font-weight: normal;
      font-style: normal;

  }

@import url(//fonts.googleapis.com/css?family=Montserrat);


$font-sans: 'Montserrat', Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
$font-serif: 'millerregular', "Palatino Linotype", Palatino, Palladio;



/* $. Layout
\*----------------------------------------------------------------*/

$baseline: 1em;



/* $. Z axis
\*----------------------------------------------------------------*/

$z-index-1: 1;
$z-index-2: 5;
$z-index-3: 10;
$z-index-4: 15;
$z-index-5: 20;


/* $. Icons
\*----------------------------------------------------------------*/

$icon: 20px;
$icon-small: 16px;
$icon-medium: 30px;
$icon-large: 50px;
$icon-x-large: 100px;
