/**
 * Title:
 *    Containers
 * Description:
 *    Container based layout modules
 * Sections:
 *    $. Containers
 *    $. Your Styles
 */



/* $. Containers
\*----------------------------------------------------------------*/

.container {
    margin: 0 auto;
    width: 92.5%;
    min-width: 15em; // 240px
    max-width: 68.5em; // 1233px 

    @include respond-min($bp2) {
        width: 75%;
    }
}

.container--main {
    text-align: center;
    margin-top: $baseline*3;
    margin-bottom: $baseline;

    @include respond-min($bp4) {
       width: 60%;
       margin: 0 auto;
       padding-bottom: $baseline*2;
       padding-top: $baseline*2;
    }
}

.container--home {
    margin-top: $baseline*2;

    @include respond-min($bp3) {
        margin-top: 0;
    }
}

/* $. Your Styles
\*----------------------------------------------------------------*/

