/**
 * Title:
 *    Navigation Module
 * Description:
 *    The .nav module and its extensions
 * Sections:
 *    $. Setup
 *    $. Component
 *    $. Modifications
 */



/* $. Setup
\*----------------------------------------------------------------*/

// Any setup goes here



/* $. Component
\*----------------------------------------------------------------*/

.nav {
    @extend %cf;
    @extend .list--unset;
}

.nav-container {
    padding: $baseline*2 0;
}


/* $. Modifications
\*----------------------------------------------------------------*/

.nav--primary {
    text-align: center;

    @include respond-min($bp2) {
        text-align: right;
    }

    li {
        margin-right: $baseline;
        display: inline-block;
    }

    a {
        color: $color-brand;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: .8rem;

        &:hover,
        &:active {
            color: darken($color-brand, 10%);
        }

    }
}

.active {
    border-bottom: 1px solid $color-brand;
}
