.block-container {
    padding-top: $baseline*2.5;
    padding-bottom: $baseline*2;
}

.block {
    padding-bottom: $baseline*2;
}

.block__title {
    margin-bottom: $baseline/3;
}

.divider {
    border-top: 1px solid lighten($color-brand, 25%);
    margin-bottom: $baseline;
}