.profile {
    padding: 0 1em;
    width: 100%;
    max-width: 100%;

    @include respond-min($bp3) {
        margin-top: $baseline*5;
    } 

}


.profile__img {
    margin: 0 auto;
    display: block;
    width: 15em;
    height: 15em;
    border-radius: 50%;

    @include respond-min($bp1) {
        width: 8em;
        height: 8em;
        margin: 0;
    }

    @include respond-min($bp2) {
        width: 10em;
        height: 10em;
        margin: 0;
    }

    @include respond-min($bp3) {
        width: auto;
        height: auto;
        margin: 0;
    }
}

.profile__bio {
    margin-top: 2em;
    margin-bottom: 3em;

    @include respond-min($bp3) {
        margin: 0;
    }
}

.profile__heading {
    margin-bottom: $baseline/3;
    line-height: 1.1;

    @include respond-min($bp2) {        
        font-size: 2.8rem;
    }

    @include respond-min($bp3) {        
        font-size: 3.5rem;
    }
}

.subheading {
    text-transform: uppercase;
    text-align: left;
    font-family: $font-sans;
    margin-bottom: $baseline/3;
}

.subheading--brand {
    color: lighten($color-brand, 20%);
}